* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    height: 30vh;
}

img {
    /* Temporary */
    width: 5rem;
}

.header {
    background-color: red;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 2rem;
    grid-gap: 3rem;
    height: 30rem;
    box-shadow: 0 1rem 1rem;
}

.user > img, .user-pfp > img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 3px green solid;
    object-fit: cover;
}

.search-icon {
    border: 1px black solid;
}

.header-top-right, .search-container, .header-bottom-left, .header-bottom-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.search-container {
    grid-row: 1;
    grid-column: 1;
}

.header-top-right {
    grid-row: 1;
    grid-column: 2 / 3;
}

.header-bottom-left {
    grid-row: 2;
    grid-column: 1;
}

.header-bottom-right {
    grid-row: 2;
    grid-column: 2 / 3;
}

.search-bar {
    width: 15rem;
    background-color: #f2f2f2;
    border-radius: 2rem;
    height: 2rem;
}

.sidebar {
    background-color: turquoise;
    display: grid;
    justify-content: flex-start;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 1rem;
    grid-row: span 2; 
}

.dashboard-top, .dashboard-middle, .dashboard-bottom {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: flex-start;
}

.dashboard-option {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.dashboard-top, .dashboard-middle, .dashboard-bottom {
    flex-direction: column;
}

.dashboard-top {
    grid-row: 1 / 2;
}

.dashboard-middle {
    grid-row: 2 / 3;
}

.dashboard-bottom {
    grid-row: 3 / 4;
}

.main {
    padding: 2rem;
    background-color: grey;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
}

.projects {
    grid-row: span 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1rem;
}

.announcements {
    grid-row: 1;
    grid-column: 2 / 3;
}

.trending {
    grid-row: 2;
    grid-column: 2 / 3;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border-left: 1rem #daa520 solid;
    border-radius: 1rem;
}

.project, .announcements, .trending {
    box-shadow: 0.25rem 0.25rem 1rem;
}

.project-icons {
    display: flex;
    justify-content: flex-end;
    height: 8%;
}

.project-icons > img {
    width: 2rem;
}

.announcements {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    border-radius: 1rem;
}

.announcement {
    padding-bottom: 1rem;
}

.announcement:not(:last-child) {
    border-bottom: 2px grey solid;
}

.announcements-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}